*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/phone/release/output-metadata.json
/app/phone/release/phone-release.apk
/.idea/render.experimental.xml
/app/phone/release/baselineProfiles/0/phone-release.dm
/app/phone/release/baselineProfiles/1/phone-release.dm
